{"swagger":"2.0","info":{"title":"GCA - Graph Connector Agent","description":"No-auth custom connector for the Graph Connector Agent. Exposes four read-only research operations: list Graph API operations, generate a custom connector Swagger, get session endpoints, and get session context. The server reads public Microsoft Graph CSDL metadata and requires no authentication. Deploy, namecheck, and environment operations use the separate authenticated GCA Deploy Pipeline connector.","version":"3.0","contact":{"name":"Graph Connector Factory","url":"https://github.com/managedBlog/graph-connector-agent"}},"host":"5qgmmvlb-3000.use.devtunnels.ms","basePath":"/graph-connector","schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/api/graph/operations":{"get":{"summary":"List Graph API operations","description":"List available HTTP operations for a Microsoft Graph API endpoint path. Returns a structured array of operations suitable for populating a dynamic selection card.","operationId":"graph_listOperations","x-ms-visibility":"important","parameters":[{"name":"endpoint","in":"query","required":true,"type":"string","description":"Microsoft Graph API endpoint path(s). Supports comma-separated values for multi-endpoint queries (e.g. '/users,/groups,/deviceManagement/managedDevices').","x-ms-summary":"Endpoint"},{"name":"version","in":"query","required":false,"type":"string","default":"v1.0","enum":["v1.0","beta"],"description":"Graph API version","x-ms-summary":"API Version"}],"responses":{"200":{"description":"Structured list of available Graph API operations.","schema":{"type":"object","properties":{"endpoint":{"type":"string","x-ms-summary":"Endpoint"},"version":{"type":"string","x-ms-summary":"Version"},"operations":{"type":"array","x-ms-summary":"Operations","items":{"type":"object","properties":{"operationId":{"type":"string","x-ms-summary":"Operation ID"},"method":{"type":"string","x-ms-summary":"HTTP Method"},"path":{"type":"string","x-ms-summary":"Path"},"summary":{"type":"string","x-ms-summary":"Summary"}}}},"cacheAge":{"type":"string","x-ms-summary":"Cache Age"},"warnings":{"type":"array","items":{"type":"string"},"x-ms-summary":"Warnings"}}}}}}},"/api/graph/connector":{"post":{"summary":"Generate custom connector Swagger","description":"Generate a Power Platform-compatible Swagger 2.0 custom connector schema from selected Microsoft Graph API operations. Returns connector name, operation count, and Gist URL.","operationId":"graph_generateConnector","x-ms-visibility":"important","parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","required":["operationIds","baseName"],"properties":{"operationIds":{"type":"string","description":"Comma-separated list of operation IDs to include (e.g. 'users.list,users.create,users.get')","x-ms-summary":"Operation IDs"},"baseName":{"type":"string","description":"Validated connector display name. Used as-is — no suffix is appended. If a naming prefix is configured server-side, it is applied before namecheck validation.","x-ms-summary":"Base Name"},"version":{"type":"string","default":"v1.0","enum":["v1.0","beta"],"x-ms-summary":"API Version","x-ms-visibility":"advanced"},"format":{"type":"string","default":"swagger-json","enum":["swagger-json","swagger-yaml","openapi-json","all"],"x-ms-summary":"Format","x-ms-visibility":"advanced"}}}}],"responses":{"200":{"description":"Generated connector details including Gist URL.","schema":{"type":"object","properties":{"totalOperations":{"type":"integer","x-ms-summary":"Total Operations"},"gistUrl":{"type":"string","x-ms-summary":"Gist URL"},"swaggerRawUrl":{"type":"string","x-ms-summary":"Swagger Raw URL","description":"Direct raw content URL for the generated swagger JSON file. Use this URL (not gistUrl) when passing to the deploy pipeline."},"baseName":{"type":"string","x-ms-summary":"Base Name"},"downloadUrls":{"type":"array","items":{"type":"string"},"x-ms-summary":"Download URLs"},"validationWarnings":{"type":"array","items":{"type":"string"},"x-ms-summary":"Warnings","x-ms-visibility":"advanced"}}}}}}},"/api/graph/session/endpoints":{"get":{"summary":"Get session endpoints","description":"Returns the list of Microsoft Graph API endpoints explored via graph_listOperations during the current MCP session. Used by the OperationSelection topic to skip the endpoint Question node when the AI has already researched endpoints. Returns an empty list if no session context is found.","operationId":"graph_getSessionEndpoints","x-ms-visibility":"important","parameters":[{"name":"userObjectId","in":"query","required":false,"type":"string","description":"AAD Object ID of the calling user. Used for session context lookup when no Authorization header is present (NoAuth connectors). Pass System.User.AadObjectId from Copilot Studio.","x-ms-summary":"User Object ID","x-ms-visibility":"advanced"}],"responses":{"200":{"description":"Endpoints explored in the current session.","schema":{"type":"object","properties":{"endpoints":{"type":"array","x-ms-summary":"Endpoints","items":{"type":"string"}},"endpointCount":{"type":"integer","x-ms-summary":"Endpoint Count"},"latestEndpoint":{"type":"string","x-ms-summary":"Latest Endpoint","x-nullable":true},"endpointPath":{"type":"string","x-ms-summary":"Endpoint Path","x-nullable":true,"description":"Comma-separated endpoint paths. When multiple endpoints were explored, contains all of them (e.g. '/users,/groups'). When single, contains just that endpoint."}}}}}}},"/api/graph/session/context":{"get":{"summary":"Get session context","description":"Returns the full session context including explored endpoints and design decisions captured via graph_setDesignContext. Flat response: all endpoint tracking fields plus all design context fields merged at top level. Used by the OperationSelection topic to pre-fill connector configuration (auth type, base name, environment, connector grouping, etc.).","operationId":"graph_getSessionContext","x-ms-visibility":"important","parameters":[{"name":"userObjectId","in":"query","required":false,"type":"string","description":"AAD Object ID of the calling user. Used for session context lookup when no Authorization header is present (NoAuth connectors). Pass System.User.AadObjectId from Copilot Studio.","x-ms-summary":"User Object ID","x-ms-visibility":"advanced"}],"responses":{"200":{"description":"Full session context including endpoint tracking and design decisions.","schema":{"type":"object","properties":{"endpoints":{"type":"array","x-ms-summary":"Endpoints","items":{"type":"string"}},"endpointCount":{"type":"integer","x-ms-summary":"Endpoint Count"},"latestEndpoint":{"type":"string","x-ms-summary":"Latest Endpoint","x-nullable":true},"endpointPath":{"type":"string","x-ms-summary":"Endpoint Path","x-nullable":true,"description":"Comma-separated endpoint paths from design context. When multiple endpoints were explored, contains all of them (e.g. '/users,/groups'). When single, contains just that endpoint."},"hasDesignContext":{"type":"boolean","x-ms-summary":"Has Design Context","description":"True if graph_setDesignContext was called during this session."},"authType":{"type":"string","x-ms-summary":"Auth Type","x-nullable":true,"description":"Desired auth type: NoAuth, OAuthAAD, or FederatedIdentity."},"connectorCount":{"type":"integer","x-ms-summary":"Connector Count","x-nullable":true,"description":"Number of connectors to create."},"maxOperations":{"type":"integer","x-ms-summary":"Max Operations Per Connector","description":"Maximum operations allowed per connector (from server config). Used for card-side cap enforcement."},"appRegistrationStrategy":{"type":"string","x-ms-summary":"App Registration Strategy","x-nullable":true,"description":"'single' or 'separate' app registration strategy."},"environmentId":{"type":"string","x-ms-summary":"Environment ID","x-nullable":true,"description":"Target Power Platform environment ID (GUID)."},"baseName":{"type":"string","x-ms-summary":"Base Name","x-nullable":true,"description":"Connector base name — either AI-provided or auto-generated from endpoints. Check baseNameSource to determine origin."},"baseNameSource":{"type":"string","x-ms-summary":"Base Name Source","x-nullable":true,"enum":["ai","generated"],"description":"'ai' = name provided by the AI during research, 'generated' = auto-generated from endpoint paths. When 'generated', the user should be prompted to confirm or edit."},"targetVersion":{"type":"string","x-ms-summary":"Target Version","x-nullable":true,"description":"Target Graph API version: v1.0 or beta."},"notes":{"type":"string","x-ms-summary":"Notes","x-nullable":true,"description":"AI-authored design rationale notes."},"connectorGroupsJson":{"type":"string","x-ms-summary":"Connector Groups JSON","description":"Deprecated — kept for backward compatibility. Always empty string. Use group1Json, group2Json, group3Json instead."},"group1Json":{"type":"string","x-ms-summary":"Group 1 JSON","description":"JSON-serialized connector group 1 object with baseName and operations array. Empty string if fewer than 1 group."},"group2Json":{"type":"string","x-ms-summary":"Group 2 JSON","description":"JSON-serialized connector group 2 object with baseName and operations array. Empty string if fewer than 2 groups."},"group3Json":{"type":"string","x-ms-summary":"Group 3 JSON","description":"JSON-serialized connector group 3 object with baseName and operations array. Empty string if fewer than 3 groups."}}}}}}},"/api/graph/connector/batch":{"post":{"operationId":"graph_batchGenerate","summary":"Batch generate custom connectors","description":"Generate Power Platform custom connector Swagger files for multiple connector groups in a single call. Accepts a JSON string of groups (each with baseName and ops), generates each connector, publishes to Gist, and returns results as a JSON string for Parse value node consumption.","x-ms-visibility":"important","x-ms-api-timeout":120,"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","required":["groupsJson"],"properties":{"groupsJson":{"type":"string","description":"JSON string containing an array of connector groups. Each group has baseName (string) and ops (comma-separated operation IDs string). Example: [{\"baseName\":\"Users\",\"ops\":\"users.list,users.get\"},{\"baseName\":\"Groups\",\"ops\":\"groups.list\"}]","x-ms-summary":"Groups JSON"},"version":{"type":"string","default":"v1.0","enum":["v1.0","beta"],"description":"Graph API version","x-ms-summary":"API Version","x-ms-visibility":"advanced"}}}}],"responses":{"200":{"description":"Batch generation results","schema":{"type":"object","properties":{"groupCount":{"type":"integer","description":"Total number of groups processed","x-ms-summary":"Group Count"},"successCount":{"type":"integer","description":"Number of groups that generated successfully","x-ms-summary":"Success Count"},"resultsJson":{"type":"string","description":"JSON string containing per-group results array. Each item has baseName, gistUrl, swaggerRawUrl, totalOperations, status, warnings, and optional error. Use Parse value node with sample JSON to convert to typed Table.","x-ms-summary":"Results JSON"}}}}}}},"/api/graph/test/batch-echo":{"post":{"operationId":"graph_testBatchEcho","summary":"Test batch parameter encoding","description":"Sprint 15 M1 test endpoint. Accepts groupsJson string, parses it, and echoes back the parsed groups plus a sample batch response.","x-ms-visibility":"important","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","required":["groupsJson"],"properties":{"groupsJson":{"type":"string","description":"JSON string containing an array of connector groups. Each group has baseName and ops (comma-separated operation IDs).","x-ms-summary":"Groups JSON"}}}}],"responses":{"200":{"description":"Echo of parsed batch parameters plus sample results","schema":{"type":"object","properties":{"encodingUsed":{"type":"string","description":"Which encoding was used: groupsJson, individual, or none","x-ms-summary":"Encoding Used"},"parseError":{"type":"string","description":"JSON parse error message, if any","x-ms-summary":"Parse Error"},"groupCount":{"type":"integer","description":"Number of groups parsed","x-ms-summary":"Group Count"},"resultsJson":{"type":"string","description":"JSON string containing sample batch results array. Use Parse value node with sample JSON to convert to typed Table.","x-ms-summary":"Results JSON"}}}}}}}},"securityDefinitions":{"oauth2-auth":{"type":"oauth2","flow":"accessCode","tokenUrl":"https://login.windows.net/common/oauth2/authorize","scopes":{},"authorizationUrl":"https://login.microsoftonline.com/common/oauth2/authorize"}},"security":[{"oauth2-auth":[]}]}