{"swagger":"2.0","info":{"title":"GCA - Deploy Pipeline","description":"Authenticated custom connector for the Graph Connector Agent deploy pipeline. Exposes three operations requiring OAuth: deploy a connector (chains Connector Deploy Agent + App Registration Agent), check name conflicts, and list Power Platform environments. All operations forward the caller's bearer token for OBO authentication.","version":"3.0","contact":{"name":"Graph Connector Factory","url":"https://github.com/managedBlog/graph-connector-agent"}},"host":"5qgmmvlb-3000.use.devtunnels.ms","basePath":"/graph-connector","schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/api/graph/deploy":{"post":{"summary":"Deploy connector pipeline","description":"Deploy a generated Power Platform custom connector and configure its Entra ID app registration in a single call. Uses OAuth authentication to authorize the deploy operation. Chains: Connector Deploy Agent then App Registration Agent.","operationId":"graph_deployPipeline","x-ms-visibility":"important","x-ms-api-timeout":120,"parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","required":["baseName","swaggerUrl","environmentId","authType"],"properties":{"baseName":{"type":"string","description":"Validated connector display name. Used as-is for the connector and app registration — no suffix is appended.","x-ms-summary":"Base Name"},"environmentId":{"type":"string","description":"Target Power Platform environment ID (GUID).","x-ms-summary":"Environment ID"},"authType":{"type":"string","description":"Auth type for the deployed connector: NoAuth, OAuthAAD, or FederatedIdentity.","x-ms-summary":"Auth Type"},"swaggerUrl":{"type":"string","description":"URL to the generated Swagger definition (from graph_generateConnector Gist URL).","x-ms-summary":"Swagger URL"},"apiDefinition":{"type":"string","description":"Inline Swagger JSON string. Use this OR swaggerUrl, not both. Named 'apiDefinition' to avoid Swagger 2.0 reserved word collision.","x-ms-summary":"API Definition","x-ms-visibility":"advanced"}}}}],"responses":{"200":{"description":"Deploy pipeline result with connector and app registration details.","schema":{"type":"object","properties":{"status":{"type":"string","x-ms-summary":"Status","description":"Overall pipeline status: success, partial, or error."},"summary":{"type":"string","x-ms-summary":"Summary","description":"Human-readable summary of the deploy pipeline result."},"connectorId":{"type":"string","x-ms-summary":"Connector ID","x-nullable":true},"connectorDisplayName":{"type":"string","x-ms-summary":"Connector Display Name","x-nullable":true},"connectorEnvironmentId":{"type":"string","x-ms-summary":"Connector Environment ID","x-nullable":true},"connectorStatus":{"type":"string","x-ms-summary":"Connector Status","x-nullable":true},"connectorAuthType":{"type":"string","x-ms-summary":"Connector Auth Type","x-nullable":true},"connectorRedirectUri":{"type":"string","x-ms-summary":"Connector Redirect URI","x-nullable":true},"appRegistrationConfigured":{"type":"boolean","x-ms-summary":"App Registration Configured"},"appRegistrationAppId":{"type":"string","x-ms-summary":"App Registration App ID","x-nullable":true},"appRegistrationObjectId":{"type":"string","x-ms-summary":"App Registration Object ID","x-nullable":true},"appRegistrationDisplayName":{"type":"string","x-ms-summary":"App Registration Display Name","x-nullable":true},"appRegistrationSkipped":{"type":"boolean","x-ms-summary":"App Registration Skipped"},"appRegistrationSkipReason":{"type":"string","x-ms-summary":"App Registration Skip Reason","x-nullable":true},"errors":{"type":"array","items":{"type":"string"},"x-ms-summary":"Errors"}}}}}}},"/api/graph/deploy/batch":{"post":{"operationId":"graph_batchDeploy","summary":"Batch deploy connectors","description":"Deploy multiple Power Platform custom connectors and their Entra ID app registrations in a single call. Accepts a JSON string of groups (each with baseName and swaggerUrl from batch generate results), deploys each sequentially via the CDA→ARA pipeline, and returns results as a JSON string for Parse value node consumption.","x-ms-visibility":"important","x-ms-api-timeout":120,"parameters":[{"name":"body","in":"body","required":true,"schema":{"type":"object","required":["groupsJson","environmentId","authType"],"properties":{"groupsJson":{"type":"string","description":"JSON string containing an array of connector groups. Each group has baseName (string) and swaggerUrl (string, from batch generate results). Example: [{\"baseName\":\"Users\",\"swaggerUrl\":\"https://gist.githubusercontent.com/...\"},{\"baseName\":\"Groups\",\"swaggerUrl\":\"https://gist.githubusercontent.com/...\"}]","x-ms-summary":"Groups JSON"},"environmentId":{"type":"string","description":"Target Power Platform environment ID (GUID).","x-ms-summary":"Environment ID"},"authType":{"type":"string","description":"Auth type for deployed connectors: NoAuth, OAuthAAD, or FederatedIdentity.","x-ms-summary":"Auth Type"}}}}],"responses":{"200":{"description":"Batch deployment results","schema":{"type":"object","properties":{"groupCount":{"type":"integer","description":"Total number of groups processed","x-ms-summary":"Group Count"},"successCount":{"type":"integer","description":"Number of groups that deployed successfully","x-ms-summary":"Success Count"},"resultsJson":{"type":"string","description":"JSON string containing per-group deploy results array. Each item has baseName, status, connectorId, connectorDisplayName, appRegistrationAppId, and optional error. Use Parse value node with sample JSON to convert to typed Table.","x-ms-summary":"Results JSON"}}}}}}},"/api/graph/environments":{"get":{"summary":"List Power Platform environments","description":"Returns available Power Platform environments for the deployment picker. Proxies to the Connector Deploy Agent's connector_listEnvironments tool via A2A. Requires authentication to authorize the downstream call.","operationId":"graph_getEnvironments","x-ms-visibility":"important","parameters":[],"responses":{"200":{"description":"List of environments","schema":{"type":"object","properties":{"environments":{"type":"array","x-ms-summary":"Environments","items":{"type":"object","properties":{"id":{"type":"string","description":"Environment ID (GUID)."},"displayName":{"type":"string","description":"Human-readable environment name."},"type":{"type":"string","description":"Environment type (e.g. Production, Sandbox, Developer)."}}}}}}}}}},"/api/graph/namecheck":{"get":{"summary":"Check connector and app registration names","description":"Pre-flight name conflict check. Verifies that proposed connector base names do not conflict with existing connectors in the target Power Platform environment or existing app registrations in Entra ID. Returns per-name conflict status with suggested alternatives. Requires authentication to query downstream CDA and ARA agents.","operationId":"graph_namecheck","x-ms-visibility":"important","parameters":[{"name":"environmentId","in":"query","required":true,"type":"string","description":"Target Power Platform environment ID (GUID) to check connector names against.","x-ms-summary":"Environment ID"},{"name":"names","in":"query","required":true,"type":"string","description":"Comma-separated list of proposed connector base names to check (e.g. 'Users Read,Users Write').","x-ms-summary":"Names"}],"responses":{"200":{"description":"Per-name conflict check results.","schema":{"type":"object","properties":{"resultsJson":{"type":"string","x-ms-summary":"Results JSON","description":"JSON-serialized array of per-name conflict check results. Each item has: name, connectorConflict (bool), connectorMatch (string|null), crossCollision (bool), appRegConflict (bool), appRegMatch (string|null), suggestedName (string|null), suggestedAppRegName (string|null)."},"hasConflicts":{"type":"boolean","x-ms-summary":"Has Conflicts","description":"True if any name has a connector conflict or cross-collision."},"conflictCount":{"type":"integer","x-ms-summary":"Conflict Count","description":"Number of names with connector conflicts or cross-collisions."}}}}}}}},"securityDefinitions":{"oauth2-auth":{"type":"oauth2","flow":"accessCode","tokenUrl":"https://login.windows.net/common/oauth2/authorize","scopes":{},"authorizationUrl":"https://login.microsoftonline.com/common/oauth2/authorize"}},"security":[{"oauth2-auth":[]}]}